pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
xgboost==2.1.4
lightgbm==4.5.0
shap==0.46.0
fastapi==0.115.8
uvicorn==0.34.0
python-multipart==0.0.20
email-validator==2.2.0
joblib==1.4.2
pydantic-settings==2.7.1
python-dotenv==1.0.1
sqlalchemy==2.0.36
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
imbalanced-learn==0.12.4
optuna==4.0.0
inference-sdk
opencv-python-headless
psycopg2-binary
gunicorn
